//
// Application stylesheet
// -----------------------------------------------

.app-toolbar + .app-wrapper {
    margin-top: @navbar-height * 1.5;
}

.section-front-page .app-wrapper {
	background: url("../assets/img/bg01.jpg") no-repeat 50% 0 #fff;
  	background-size: cover;
}

.section-leistungen .app-wrapper {
	background: url("../assets/img/bg02.jpg") no-repeat 50% 0 #fff;
  	background-size: cover;
}

.app-top {
	width: 100%;
	background: @app-gray;
	border-bottom: 2px solid #fff;
}

.app-header {
    .jumbotron();
}

.app-main {
	.container();
	background: #fff;

	#content-core{
		padding: @line-height-computed;
	}
}

.template-view .app-main {
	background: transparent;
}

.portaltype-easyform .app-main,
.portaltype-document .app-main {
	background: #fff;
	margin-top: @line-height-computed;
	margin-bottom: @line-height-computed;
	padding: 0;

	//.form {
	//	padding: @line-height-computed;
	//}

	.formControls {
		margin: @line-height-computed 0;
	}

	.field input {
		width: 100%;
	}
}

.app-content {
	.row();
}

.app-content-aside {
	.make-sm-column(8);
	margin-bottom: @line-height-computed;
		@media (min-width: @grid-float-breakpoint) {
  				.make-sm-column(8);
  				margin-bottom: 0;
  				}
}

.app-content-main {
	.make-sm-column(4);
}
