//
// App page content
// -------------------------------------------

.app-page {
  //padding: @line-height-computed;
  margin-top: @line-height-computed;
  background: transparent;
}

.template-folder_contents .app-page,
.template-edit .app-page,
.template-sharing .app-page {
  background: #fff;
}

.app-page-title {
  .page-header();
}

.app-page-abstract {
  .lead();
}

.documentFirstHeading {
  font-size: (@font-size-base * 1.2);
  font-weight: 700;
  background: @app-gray;
  color: #fff;
  padding: (@line-height-computed / 2) @line-height-computed;
  margin: 0;
}

.documentByLine {
  padding: @line-height-computed;
}



.app-contentpage-image {
    margin: @line-height-computed 0;
    border: 1px solid @app-gray;

  .leadImage {
    .img-responsive();
    }
  }

  	.app-contentpage-title {
  		font-size: (@font-size-base * 1.2);
  		font-weight: 700;
  		background: @app-gray;
  		color: #fff;
  		padding: (@line-height-computed / 2) @line-height-computed;
  		margin: 0;
  	}

  	.app-contentpage-body {
  		padding: @line-height-computed;
      background: #fff;
      margin-bottom: @line-height-computed;
      min-height: 410px;
  	}
