//
// Application navbar
// ----------------------------------------

@app-navbar-height:   floor(@navbar-height * 2);

.app-navbar { 
    background: @app-gray;  
    margin-right: -(@navbar-padding-horizontal);
    margin-left: -(@navbar-padding-horizontal);
    .navbar-collapse {
        padding: 0;
    }
    @media (min-width: @grid-float-breakpoint) {
        .make-sm-column(7);
        height: @app-navbar-height;
        border: none;
        margin-bottom: 0;
    }
}

.selected {
        background: #fff !important;

        a {
            color: black !important;
        }
    }

.app-navbar-nav {

    li {
        border: 0px solid red;
        width: 120px;
    }
    > li > a {
        color: white;
        text-align: center !important;
        .transition(background .25s linear);
        text-transform: uppercase;
        font-size: (@font-size-base / 1.2);
        font-weight: 700;
        &:hover,
        &:focus {
          color: white;
          background-color: @navbar-default-link-hover-bg;
        }
    }
    > .active > a {
        &,
        &:hover,
        &:focus {
          color: black !important;
          background-color: white;
        }
    }
    > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: black !important;
          background-color: @navbar-default-link-disabled-bg;
        }
    }
    > .navitem-home > a {
        &,
        &:hover,
        &:focus {
          color: white !important;
          background-color: @navbar-default-link-disabled-bg !important;
        }
    }
    .dropdown-menu > li > a {
        color: @app-primary;
        font-size: @font-size-base;
    }
    .dropdown-title > a {
        font-weight: 400;
    }
    @media (min-width: @grid-float-breakpoint) {
        >li > a {
          color: @app-primary;
          padding-top: ((@app-navbar-height - @line-height-computed) / 1.4);
          padding-bottom: ((@app-navbar-height - @line-height-computed) / 3.5);
        }
        .dropdown-menu > li > a {
            font-size: @font-size-small;
        }
        .dropdown-title > a {
            font-size: @font-size-base;
        }
    }
  }

  .navbar-nav {
    margin: 0;
  }