<div class="app-brandbar" id="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
            <div class="app-brand-title">
                <a class="app-brandname" href="/">
                    <span class="app-brandname-image">
                        <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/cab.png" />
                    </span>
                    <span class="app-brandname-subclaim">Licht / Ton / Showtechnik GmbH</span>
                </a>
            </div>
        </div>
    </div>
</div>