<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    {% include toolbar.html %}
    <!-- App master nav -->
    <div class="app-wrapper">
        <div class="app-top">
            <div class="container">
                {% include brandbar.html %}
                {% include navbar.html %}
            </div>
        </div>
    

        <div class="app-main">
            <div class="app-content">
                <div class="app-content-aside" id="app-content-aside">
                    <!-- Fill me with lead image -->
                </div>
                <div class="app-content-main" id="app-content-main" role="main">
                    <div class="app-content-portlets" id="app-content-portlets">
                        
                    </div>
                    <div class="app-content-page">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
                {% include footer.html %}
        </div>
                {% include javascript.html %}
        <div class="app-js-slot">
                {% include webfonts.html %}
        </div>

  </body>
</html>